*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* start here */

/* navbars */

#navbars-heros{
    background-color: #F8C880;
    height: 100vh;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 9rem;
    align-items: center;
    margin: 0 7rem;
}

.logo-img{
    width: 188px;
    height: 45px;
}

.nav-item{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav-item a{
    display: flex;
    align-items: center;
    height: 3rem;

    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-item a:hover{
    color: orangered;
}

.nav-item button{
    color: #582323;
    font-weight: 500;
    padding: 5px 15px;
    background-color: #ff843d96;
    border: none;
    outline: none;
    border-radius: 10px;
}

/* hero content */

.hero-container{
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.hero-title{
    font-size: 46px;
    color: #582323;
    margin-bottom: 10px;
}

.hero-subtitle{
    color: #582323;
    font-size: 20px;
    margin-bottom: 20px;
}

 .diskon{  /*span diskon */
    color: red;
}

.hero-list{
    margin-bottom: 25px;
} 

.hero-list li{
    color: #582323;
    list-style: none;
    margin-bottom: 10px;
}

.hero-list li i{
    margin-right: 3rem;
    color: greenyellow;
    font-size: 20px;
}

.hero-price{
    color: #582323;
    margin-bottom: 0;
}

.price{
    font-size: 3rem;
    font-weight: 500;
}

.hero-price-benefit{
    color: #582323;
    font-weight: 510;
    margin-bottom: 30px;
}

.hero-button{
    display: inline-flex;
}

.hero-button button{
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-weight: 500;
    background-color: rgb(255, 113, 61);
}

.hero-button .btn-left{
    background: linear-gradient(90deg, #ff7a18, #af002d);
    color: white; /* or any color you prefer for the text */
    font-weight: bold;
    border: none; /* Add a border if needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Make the button rounded */
}

.garansi{
    color: white;
    font-size: 10px;
    margin-top: 5px;
}


/* hero image */
.hero-img{
    width: 611px;
    height: auto;
}


/* price container */
#priceses{
    background-color: #E3B459;
    height: 100vh;
}

.price-title-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: center;
}

.price-title, .price-sub{
    margin: 5px 0;
    color: #582323;
}

.price-title{
    font-size: 2rem;
}
.price-container{
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 440px;
    height: 702px;
    background-color: #ff7a18;
    padding: 80px 40px 0 40px;
    border-radius: 20px;
    border: 3px rgb(173, 31, 255) solid;
}


 .box > *{   /*for all ttext color inside box */
    color: white;
}

.box-title{
    font-size: 2rem;
    margin-bottom: 5px;
}

.box-sub{
    margin-bottom: 40px;
}

.box-price, .box-diskon{
    display: inline;
    margin-right: 10px;
}

.box-price{
    text-decoration: line-through;
}

.box-diskon{
    color: black;
    font-weight: 500;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 50px;
}

.box-price-2{
    margin-top: 30px;
}

.box-price-span{
    font-size: 3rem;
}

.box-gratis{
    font-weight: 500;
    margin-bottom: 30px;
}

.box-btn{
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(90deg, #ff0000, #af002d);
    color: white; /* or any color you prefer for the text */
    font-weight: bold;
    border: none; /* Add a border if needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Make the button rounded */
}

.box-lines{
    margin: 60px 0;
}

/* box 2 border purple */
.box-dua{
    width: 440px;
    height: 702px;
    background-color: #ff7a18;
    padding: 0 40px 0 40px;
    border-radius: 20px;   
}

.box-dua{
    border: solid rgb(173, 31, 255) 3px;
    border-top: solid 50px rgb(173, 31, 255);
}

.box-border-title{
    display: inline-block;
    position: relative;
    left: 100px;
    bottom: 40px;
}

/* reviews container */
#reviews{
    height: 100vh;
    background-color: #F8C880;
}

.review-title-sub{
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-title, .review-sub{
    color: #582323;
    margin-bottom: 10px;
}

.review-title{
    font-size: 2rem;
}

.review-container{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
}

.review{
    width: 320px;
    height: 391px;
    background-color: #ff7a18;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

.profil-name{
    display: flex;
    justify-content: space-around;
}

.profil-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.name-profile, .sub-profile{
    color: white;
}

.name-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-paragraft{
    text-align: center;
    color: white;
    margin-top: 15px;
}

.rating-star{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.rating{
    color: white;
}

.bxs-star{
    color: yellow;
}

/* footers container */

#footers{
    background-color: #ff7a18;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container > h1{
    font-size: 2rem;
    text-align: center;
    color: #582323;
}

.footer-container .mulai{
    border: none;
    outline: none;
    padding: 5px;
    background-color: #E3B459;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mulai > a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.mulai:hover{
    background-color: #F8C880;
}

.mulai > a:hover{
    color: #ff7a18;
}


.social-logo{
    display: flex;
    justify-content: space-between;
   width: 95%;
   align-items: center;
   margin-bottom: 20px;
}

.bxl-instagram,
.bxl-twitter,
.bxl-meta{
    margin-right: 10px;
    font-size: 30px;
}